<div class="row">
	<div class="large-3 small-7 columns">
		<span {{bind-attr class=":icomoon :large model.currently.icon"}}></span> {{model.currently.temperature}}° {{model.currently.summary}}
	</div>
	<div class="large-2 small-7 columns">
	</div>
	<div class="large-2 small-7 columns">
	</div>
</div>

<div class="row">
	{{#each day in model.daily}}
		<div class="large-1 small-7 columns">

			<h4 class="subheader">{{day.time}}</h4>
			<div class="row collapse">
				<div class="large-7 columns">
					<span {{bind-attr class=":icomoon :large day.icon"}}></span>
				</div>
			</div>

			<div class="row collapse">
				<div class="large-7 columns">
					<span class="icomoon small arrow-up"></span>
					{{day.temperatureMin}}°
				</div>
			</div>

			<div class="row collapse">
				<div class="large-7 columns">
					<span class="icomoon small arrow-down"></span>
					{{day.temperatureMax}}°
				</div>
			</div>

			<div class="row collapse">
				<div class="large-7 columns">
					<p>{{day.summary}}</p>
				</div>
			</div>

		</div>
	{{/each}}
</div>