<div class="row">
	<div class="large-7 small-7 columns">
		<h4>{{model.locality}}, {{model.administrative_area_level_1}} {{model.country}}</h4>
	</div>
</div>
<div class="row collapse">
	<div class="large-6 small-6 columns">
		{{input valueBinding="controller.locationSearch" placeholder="city or zip"}}
	</div>
	<div class="large-1 small-1 columns">
		<button class="button tiny postfix" {{action "changeLocation"}}>Search</button>
	</div>
</div>
{{outlet}}